Repository aragon/govern, pull requests merged in 2020-11, with the labels that each got.

#181 Utils(SafeERC20): Ensure token address is a contract
  packages/govern-contract-utils/contracts/address-utils/AddressUtils.sol
  packages/govern-contract-utils/contracts/erc20/SafeERC20.sol
Labels: P1 🔜, S2: Bug 👩‍✈️, T0: Core 🌞

#180 Utils(ACL): Implement ACL Oracle
  packages/govern-contract-utils/contracts/acl/ACL.sol
  packages/govern-contract-utils/contracts/acl/IACLOracle.sol
  packages/govern-contract-utils/test/acl.sol
  packages/govern-contract-utils/test/acl.ts
  packages/govern-create/test/base.js
Labels: P1 🔜, S1: Feature 👨‍🎨, S5: Test 👨‍🍳, T0: Core 🌞

#213 Govern E2E: Health check added
  packages/govern-server/package.json
  packages/govern/scripts/start.e2e.sh
Labels: P1 🔜, S2: Bug 👩‍✈️, T0: Core 🌞

#212 Core: GovernQueue.veto enhancement
  packages/erc3k/contracts/IERC3000.sol
  packages/erc3k/contracts/test/ERC3000Mock.sol
  packages/govern-core/contracts/pipelines/GovernQueue.sol
  packages/govern-core/contracts/test/ERC3000Mock.sol
  packages/govern-core/test/pipelines/govern-queue.test.ts
Labels: P1 🔜, S1: Feature 👨‍🎨, T0: Core 🌞

#194 type cast added to ERC3000Data.containerHash
  packages/erc3k/contracts/ERC3000Data.sol
Labels: P2 👀, T0: Core 🌞

#193 fixes DepositLib.collectFrom
  packages/govern-contract-utils/contracts/deposits/DepositLib.sol
Labels: P0 🚒, S2: Bug 👩‍✈️, T0: Core 🌞

#216 Utils: ACL.bulk test
  packages/govern-contract-utils/test/acl.ts
Labels: P2 👀, S5: Test 👨‍🍳, T0: Core 🌞

#203 Govern test
  packages/govern-core/test/govern.test.ts
Labels: P1 🔜, S5: Test 👨‍🍳, T0: Core 🌞

#219 Bump typechain ethers v5
  packages/erc3k/package.json
  packages/erc3k/test/erc3k-data.test.ts
  packages/erc3k/test/erc3k-exec.test.ts
  packages/erc3k/test/erc3k.test.ts
  packages/govern-contract-utils/package.json
  packages/govern-contract-utils/test/acl.ts
  packages/govern-contract-utils/test/bitmaplib.ts
  packages/govern-contract-utils/test/initializable.ts
  packages/govern-core/package.json
  packages/govern-core/test/govern-registry.test.ts
  packages/govern-core/test/pipelines/govern-queue.test.ts
  packages/govern-create/hardhat.config.ts
  packages/govern-create/package.json
  yarn.lock
Labels: P2 👀, S3: Maintenance 👨‍💼, T2: DX 👷‍♀️

#217 Utils: ERC1167ProxyFactory test
  packages/govern-contract-utils/contracts/test/CloneFactoryMock.sol
  packages/govern-contract-utils/contracts/test/ClonedContract.sol
  packages/govern-contract-utils/contracts/test/ClonedContractWithInit.sol
  packages/govern-contract-utils/test/erc1167-proxy-factory.test.ts
Labels: P1 🔜, S5: Test 👨‍🍳, T0: Core 🌞
